{% extends 'bootstrap/base.html' %}

{% block content %}
<div class="container">
    {% for scoreboard in scoreboards %}
    <!-- Add each subreddit to a panel container and add a link to view the subreddits posts -->
    <!-- 6 LoC -->
    <div class="panel panel-default">
        <div class="panel-body">
            <p>Today's NBA Scoreboard<br>JSON API: {{ scoreboard.url }}</p>
            <a href="{{ url_for('display_games', score_id=scoreboard.id-1) }}">View Games</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}